.chatBox{
  display: flex;
  justify-content: center;
}
.chatInput{
  border: 1px solid #06716e;
  margin-top: 100px;
  height: 35px;
  width: 350px;
  border-radius:50px;
  font-size: 20px;
  position: absolute;
  margin-bottom: 20px;
}