.events {

}

.event_btns {
    margin-top: 30px;
}

.create_event_btn {
    background-color: #3b5998;
    padding: 10px;
    margin: 20px;
    width: 150px;
    margin-top: 50px
}

.search_events_btn {
    background-color: #3b5998;
    padding: 10px;
    margin: 20px;
    width: 150px;
}
.cancel_event_btn {
    background-color: #3b5998;
    padding: 10px;
    margin: 20px;
    width: 150px;
}

.invitations {
    border: 1px solid grey;
    margin: 0 50px;
    height: 15vh;   
}

.upcoming_events {
    border: 1px solid grey;
    margin: 0 50px;
    height: 15vh;
}

.my_events {
    border: 1px solid grey;
    margin: 0 50px;
    height: 15vh;
}



/* ---Create event page--- */

header {
    background-color: #3b5998;
    padding: 20px;
    width: 100%;
}

.name_input input {
    border: 1px solid grey;
    margin: 0 50px;
    height: 5vh;
    width: 80vw; 
}


.desc_input textarea {
    border: 1px solid grey;
    margin: 0 50px;
    height: 15vh;
    width: 80vw; 
}

.dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.start_date input {
    border: 1px solid grey;
    margin: 10px;
    width: 35vw;
}

.end_date input {
    border: 1px solid grey;
    margin: 10px;
    width: 35vw;
}

.ages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.min_age input {
    border: 1px solid grey;
    margin: 10px;
    width: 35vw;
}

.max_age input {
    border: 1px solid grey;
    margin: 10px;
    width: 35vw;
}

.address input {
    border: 1px solid grey;
    margin: 0 50px;
    height: 5vh;
    width: 80vw; 
}

.city_zipcode {
    display: flex;
    flex-direction: row;
  
    justify-content: center;
}

.city input {
    border: 1px solid grey;
    margin: 10px;
    width: 35vw;
}

.zipcode input {
    border: 1px solid grey;
    margin: 10px;
    width: 35vw;
}


/* --------Events Search -------- */

.search-buttons {
    background-color: #3b5998;
    border-radius: 4px 4px 4px 4px;
    height: 50px;
    width: 140px;
    margin-top: 20px;
    font-size: 15px
}


.results {
    margin: 20px 0px 0px 16px;
    border: 2px;
    border-width: medium;
    border-color: black;
    border-style: solid;
    height: 20vh;
    width: 90vw;
} 

.search{
    margin: 15px 0px 0px 0px
}

.search-buttons {
    margin: 0px 0px 0px 20px
}