.main-nav {
    width: 100vw;
    height: 50px;
    background-color: #3b5998;
    text-align: center;
}

.friends-button{
    background-color: #3b5998;
    border-radius: 4px 4px 4px 4px;
    height: 50px;
    width: 140px;
    margin-top: 20px;
    font-size: 15px
}

.input{
    width: 180px;
    height: 40px;
    border:solid;
    border-color: black;
    font-size: 20px;
}


.search-buttons {
    background-color: #3b5998;
    border-radius: 4px 4px 4px 4px;
    height: 50px;
    width: 140px;
    margin-top: 20px;
    font-size: 15px
}


.results {
    border: 2px;
    border-width: medium;
    border-color: black;
    border-style: solid;
    height: 40vh;
    width: 85vw;
    margin-left: 7vw;
}

.search{
    margin: 10px 0px 10px 25px
    
}

.search-by {
    margin: 20px 0px 15px 0px
}